a .nav-link:hover {
    text-decoration: underline !important;
    color: #F6AF00 !important;
}

.text-decoration-underline {
    text-decoration-color: #F6AF00 !important;
}

/* 
@media screen and (max-width: 600px) {
    .nav {
        justify-content: center;
    }
} */