body {
    overflow-x: hidden;
}

.banner-top {
    background-image: url('/picture/banner-bg.png');
    background-size: cover;
}

.pelayanan {
    background-image: url('/picture/Pelayanan.png');
    background-size: cover;
}

.agenda-paroki {
    background-image: url('/picture/Agenda-paroki.png');
    background-size: cover;
}

.mari-ikut-terlibat {
    background-image: url('/picture/Mari-ikut-terlibat.png');
    background-size: cover;
}

.row {
    margin-right: 0 !important;
}