body {
    overflow-x: hidden;
}

.banner-img {
    background-image: url('/picture/Misa.jpg');
    background-size: cover;
}

.pelayanan {
    background-image: url('/picture/Pelayanan.png');
    background-size: cover;
}

.agenda-paroki {
    background-image: url('/picture/Agenda-paroki.png');
    background-size: cover;
}

.mari-ikut-terlibat {
    background-image: url('/picture/Mari-ikut-terlibat.png');
    background-size: cover;
}