body{
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar{
    height: 100vh;
    background-color: rgb(1, 137, 168);
    color: dimgray;

}
.logo{
    width: 70%;
}
